<h1>ようこそ</h1>
<p>トップページです。</p>
<% if @users.any? %>
    <table>
        <tr>
            <th>名前</th>
            <th>Email</th>
            <th>年齢</th>
            <th>性別</th>
            <th>学校名</th>
        </tr>
<% @users.each do |user| %>
        <tr>
            <td><%= user.username%></td>
            <td><%= user.email%></td>
            <% if user.birthday != nil %>
            <td><%= (Date.today.strftime("%Y%m%d").to_i - user.birthday.strftime("%Y%m%d").to_i) /10000 %></td>
            <% else %>
            <td></td>
            <% end %>
            <td><%= user.sex %></td>
            <td><%= user.company %></td>
            <td><%= link_to '面接一覧', user_interviews_path(user) %></td>
        </tr>
<% end %>
    </table>
<% end %>